.container {
    font-family:'Jetbrains mono';
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    width: 400px;
    height: auto;
}

h3 {
    font-size: 25px;
    margin-top: 3rem;
    font-weight: bolder;
}

h2 {
    font-size: 25px;
    font-weight: bolder;
    margin: 120px auto ;
}

img {
    margin-bottom: 2rem;
    border-radius: 20px;    
}

.smykdoggers {
	display: flex;
	justify-content: center;
    align-items: end;
}

.nav-link a, .link {
    font-size: 16px;
    font-weight: bold;
	display: inline-block;
	vertical-align: top;
	color:rgb(134, 0, 0);
	text-decoration: none;
	transition: color .15s linear;
    margin-bottom: 1rem;
}

.nav-link a:hover, .link:hover {
    font-size: 16px;
    font-weight: bold;
	color:#977d7d;
}

.pizduk .btn {
    margin: 0 60px;
}

.back .btn {
    margin: 50px auto ;
}

.pizduk {
    margin: 150px auto ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.mailtext {
    margin-top: 50px;
    font-size: 16px;
}

audio {
    margin-top: 50px;
}

.mailbtn .btn {
    margin: 60px auto;
}

.p1 {
    margin: 120px auto;
}

.p2 {
    margin: 30px auto;
}

.p3 {
    margin: 50px auto;
}

.p4 {
    margin: 120px auto;
}

.p5 {
    margin: 30px auto;
}

.p6 {
    margin: 0px auto;
}

.p7 {
    margin: 90px auto;
}

.backbtn {
    margin: 120px auto;
}

.backbtn2 {
    margin: 60px auto;
}

.backbtn4 {
    margin-top: 120px;
}

.backbtn6 {
    margin-top: 10px;
}

.backbtn61 {
    margin-top: 10px;
    margin-bottom: 60px;
}

.backbtn71 {
    margin-top: 60px;
}

iframe {
    margin: 120px auto;
    border-radius: 30px;
}
